@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;700");

body {
  background: #7ccee7;
  color: #575F7D;
  font-family: 'Lora', serif;
  font-size: 17px;
  font-weight: lighter;
}

.container {
  width: 800px;
  margin: 40px auto;
}

user agent stylesheet div {
  display: block;
  unicode-bidi: isolate;
}

.img-circle {
  border-radius: 50%;
}

.btn-blue {
  background-color: hsl(271, 80%, 44%);
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
}

.card-white {
  background-color: white;
  padding: 20px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}

.card {
  background-color: white;
  padding: 20px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}


a {
  color: red;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
